.main-header {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-header h1 {
    margin: 0;
    font-weight: 300;
}

.main-header .subtitle {
    margin: 5px 0 0;
    font-size: 1.1em;
    font-weight: 300;
    opacity: 0.8; 
}
/**/
.main-header .subtitle {
    /* Estado inicial: opacidad 0 */
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease-out, transform 1s ease-out, color 0.5s; 
}

.main-header .subtitle.is-visible {
    /* Estado final cuando JS añade la clase 'is-visible' */
    opacity: 1;
    transform: translateY(0);
}