.main-footer {
    margin-top: auto; /* Empuja el footer hacia el fondo */
    width: 100%;
    padding: 15px 0;
    background-color: var(--secondary-color);
    color: #f0f0f0;
    text-align: center;
    font-size: 0.9em;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.main-footer p {
    margin: 5px 0;
}

.main-footer .github-link {
    font-style: italic;
    font-weight: 300;
}
.main-footer {
    margin-top: auto; /* Empuja el footer hacia el fondo */
    width: 100%;
    padding: 15px 0;
    background-color: var(--secondary-color);
    color: #f0f0f0;
    text-align: center;
    font-size: 0.9em;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.main-footer p {
    margin: 5px 0;
}

.main-footer .github-link {
    font-style: italic;
    font-weight: 300;
}